li{
	list-style: none;
}

#redmi{
	margin-top: 130px;
	width: 100%;
    height: 600px;
    padding: 10px;
    border-radius: 5px;
}

#redmi .product {
	float: left;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
}

#redmi .product .img {
	height: 95%;
	width: 100%;
	background-color: white; 
	border-radius: 10px;
	border: 1px solid #0E4085;
}

#redmi img {
	height: 80%;
	width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#redmi .product .img:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#redmi .product img:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#redmi .product .btn {
	display: flex;
	margin-top: 10px; 
	height: 100%;
	width: 100%;
}

#redmi .product .btn div {
	width: 50%;
	height: 100%;
}

#redmi .product .btn button {
	width: 70%;
	height: 50%;
	margin-left: 15%;
	margin-top: 5%;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	color: #0E4085;
}

#redmi .product .btn .ctBtn button {
	background-color: orange;
}

#redmi .product .btn .bBtn button {
	background-color: #3aaf6d
}

#redmi .product .btn button:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


#redmi .info {
	height: 100%;
	padding-left: 30px;
	background-color: none;
	display: flex;
	flex-direction: column;
}

#redmi .info .priceAndSeller {
	display: flex;
	background-color: none;
	flex-shrink: 0;
}

#redmi .info .priceAndSeller .price{
	margin-right: 10px;
}

#redmi .info .specs {
	margin-top: 24px;
    border-radius: 2px;
    font-size: 12px;
    border: solid 2px maroon;
    overflow: scroll;
}

#redmi .info .specs .fi {
	padding: 24px 30px 24px 24px;
    font-size: 24px;
    color: #212121;
}

#redmi .info .seFi {
	border-top: solid 2px maroon;
    padding: 24px 24px 34px 24px;
    font-size: 14px;
}

#redmi .info .gen {
    font-size: 18px;
}

#redmi .info .seFi ul{
	padding: 0px;
}

#redmi .info .li {
	padding-top: 16px;
	display: flex;
}

#redmi .info .li div {
	color: #878787;
    padding-right: 8px;
}

#redmi .info .li .col {
	width : 15%;
}